.card {
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #ccc;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    margin-top: 10px;
  }

  &__bottom {
    margin-top: 10px;
  }

  &__image {
    max-width: 200px;
  }
}
